#header {
    top: 0;
    left: 0;
    color: blue;
}

/* comment */

#header h1 {
    font-size: 32px;
}

/* style p tags */

#header p {
    font-size: 12px;
    color: brown;
    text-decoration: underline;
}

span {
    font-family: Arial, Helvetica, sans-serif;
}

span {
    display: block;
}

.level1 {
    color: orange;
    background-color: gray;
    letter-spacing: 2px;
    word-spacing: 6px;
    line-height: 36px;
}

/*Selector Specificty */
/* p {
    color: red;
} */

.test {
    color: green;
}

strong {
    color: blue;
}

p[class] {
    background-color: gray;
}

a[href$='pdf'] {
    color: purple;
    text-decoration: line-through;
}

span[class~="deck"] {
    color: palevioletred;
}

.box {
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    width: 300px;
    height: 150px;
    overflow: hidden;
}

.box p {
    background-color: gray;
}